.fdsh_logo{
  font-size: 40px;
  align-items: center;
  margin-top: 2rem;
}


.box {
  width: 40%;
  height: fit-content;
  background: rgb(254, 254, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 5px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.box>h2{
    color: #06396B;
    margin: 1rem;
}
.form_login>form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
@media only screen and (min-width: 100px) and (max-width: 500px){
    .box{
        width: fit-content;
    }
}