*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    /* background-color: red; */
    border-color: grey;
    color: black;
    margin-bottom: 1rem;
}

.btn:hover{
    background-color: #B9E9C9;
}