*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    padding: 1%;
    background: rgb(254, 254, 255);
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: ; */
}

.row2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 1%;
    padding: 1%;
}

.row3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1%;
    padding: 1%;
}

.division{
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPart{
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 50%;
    height: 50%;
}

.rightPart{
    width: 70%;
}

.rightPart p{
    text-align: left;
}

@media only screen and (min-width: 100px) and (max-width: 500px){
    .division{
        flex-direction: column;
    }

    .row2{
        width: 100%;
    }

    .leftPart{
        width: 100%;
    }

    .rightPart{
        /* width: 100%; */
        border-top: 1px solid black;
    }
/* 
    .card{
        margin-bottom: 20%;
    } */


}