*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 2%;
    padding-bottom: 2%;
    color: grey;
}

.comment{
    color: rgb(88,97,96);
}