*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.starRating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
