*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addReview{
    margin-left: auto;
    margin-right: auto;
    
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.form{
    margin-top:1.8%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 0.8% 1%;
    background: rgb(254, 254, 255);
    border-radius: 6px;
    width: 25%;
    height:79vh;
    /* overflow-y: scroll; */
}

.title{
    font-size: xx-large;
    margin-top: 0.2rem;

}

/* .reviewInp{
    height: 60px;
} */

.inputFields{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250%;
}


.reviewImage{
    width: 30vw;
    height: 50vh;
    margin: 5%;
}

.comment{
    display: inline;
}

.starRating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width: 100px) and (max-width: 500px){
    .reviewImage{
        display: none;
    }

    .addReview{
        width: 100%;
    }

    .form{
        width: 100%;
        margin-top: 10%;
        height: 75vh;
        padding: 5%;
    }

    .inputFields{
        width: 100%;
    }
}