/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filterComp{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 4%;
    background: rgb(254, 254, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 6px;
    margin-left: 10%;
    margin-right: 0%;
    margin-bottom: 2%;
    margin-top: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.filterComp h3{
    margin: 3%;
}

.types{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.param{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    align-items: center;
    justify-content: center;
    margin: auto;
    column-gap: 2%;
}

.searchFieldCont{
    width: 100%;
}

.searchField{
    width: 90%;
    margin: 2rem auto;
}

.mobilefilter{
    display: none;
}



@media only screen and (min-width: 100px) and (max-width: 500px){
    .filterComp{
        margin: 2%;

        background: initial;
        box-shadow: initial;
    }

    .filterComp h3{
        display: none;
    }

    .types{
        display: none;
    }

    .searchFieldCont{
        display: none;
    }
    

    .mobilefilter{
        display:initial;
    }

    .mobileTypes{
        display: initial;
    }

    .mobilesearchFieldCont{
        display: initial;
    }
} */

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left:4rem;
}
.b1{
    margin: .1rem;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    height: fit-content;
    border-radius: 5px;
    /* width: fit-content; */
    background: rgb(254, 254, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.content{
    margin-top: 2rem;
}
