*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #06396B;
}

.navi{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.7rem;
    /* border: 1px solid black; */
    position: sticky;
    top: 0;
    left: 0;
    background: rgb(239, 245, 250);
    /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    /* margin-bottom: 2rem; */
    width: 100vw;
    /* height: 70vh; */
    z-index: 1000;
}

.logo{
    width: 20%;
    font-size: 40px;
}

.pages{
    width: 30%;
}

.pages ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages ul > li {
    list-style-type: none;
    margin-left: 40px;
}

.pages ul > li:hover{
    cursor: pointer;
}

.links{
    text-decoration: none;
}

@media only screen and (min-width: 100px) and (max-width: 500px) {  
    .navi{
        flex-direction: column;
        overflow-x: hidden;
        position: sticky;
        top: 0;
        left: 0;
    }

    .logo{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .pages{
        display: flex;
        margin-top: 5%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .pages ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .pages ul > li {
        list-style-type: none;
        text-align: center;
        margin: auto;
    }
}