*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.AllReviewDivision{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.reviews{
    width: 70%;
    height: 80vh;

    overflow-y: scroll;

}
.allReviews{
    height: 100vh;
}
.filters{
    width: 30%;
    margin-top: 1%;
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_msg{
    margin-top: 5rem;
}

@media only screen and (min-width: 100px) and (max-width: 500px){
    .AllReviewDivision{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filters{
        width: 100%;
        margin: auto;
        padding-top: 0%;
        margin-top: 0%;
    }

    

    .reviews{
        width: 100%;
        /* padding-top: 255vh;
        padding-bottom: 800vh;
        margin-bottom: 200vh; */
    }

    .allReviews{
        overflow-y: scroll;
    }
}