@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

.App {
  text-align: center;
}

body{
  /* background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); */
  /* background-color: blueviolet; */
  background-color: rgb(239, 245, 250);
  font-family: 'Sora', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
